# 1. importing the libraries

In [2]:
import pandas as pd
import numpy as np

# 2 .importing the data set

In [ ]:
df = pd.read_excel("E:\\clustering\\FoodBalanceSheets_E_Africa_NOFLAG.xlsx")

In [45]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [8]:
df.shape
print("the dataset has ",df.shape[0] ,"rows and ",df.shape[1],"columns")

the dataset has  60943 rows and  12 columns

In [10]:
# print the all the all the columns name in the dataset
print("columns of the data set are ",df.columns)

columns of the data set are  Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [23]:
# info about the data set
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 4.6+ MB

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [27]:
#categorical columns
print("the categorical columns are",df.select_dtypes(include = "object").keys())

the categorical columns are Index(['Area', 'Item', 'Element', 'Unit'], dtype='object')

In [28]:
#integer columns
print("the categorical columns are",df.select_dtypes(include = "Int64").keys())

the categorical columns are Index(['Area Code', 'Item Code', 'Element Code'], dtype='object')

In [30]:
# basic statistics for integer columns
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

# checking for missing values

In [44]:
df.isnull().any()

Area Code       False
Area            False
Item Code       False
Item            False
Element Code    False
Element         False
Unit            False
Y2014            True
Y2015            True
Y2016            True
Y2017            True
Y2018            True
dtype: bool

# QUESTION 11 what is the total sum of animal fat produced in 2014 and 2017?

In [55]:
# applying groupby sum aggregation on item column for YO2014 
df1 = df.groupby("Item")["Y2014"].sum().reset_index()
print(df1[df1["Item"] == "Animal fats"])

          Item      Y2014
3  Animal fats  209460.54

In [56]:
# applying groupby sum aggregation on item column for YO2014 
df1 = df.groupby("Item")["Y2017"].sum().reset_index()
print(df1[df1["Item"] == "Animal fats"])

          Item      Y2017
3  Animal fats  269617.53

# question 12. what is mean and standard deviation across the whole data for the the year 2015 to 3 decimal places?

In [63]:
# to compute mean apllying agg mean func on Y2015 column
mean = df.Y2015.mean()
print(round(mean,3))

135.236

In [65]:
# to compute std apllying agg std func on Y2015 column
std = df.Y2015.std()
print(round(std,3))  # round function takes two input a number and round upto digit

1603.404

# Question 13.what is total number and percentage of missing data in 2016 upto two decimal places?

In [67]:
#total missing values in year 2016
missing_no = df.Y2016.isnull().sum()
print(missing_no)

1535

In [70]:
# percentage of total missing values
total_no = df.shape[0]
percentage = missing_no/total_no*100 #computing %
print(round(percentage,2)) #rounding upto 2 decimal

2.52

# Question 14 Which year had the highest correlation with "Element Code"?

In [111]:
df.corr() # computing corre

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# Question 15. what year has the highest sum of import quantity?

In [75]:
# performing groupby operation on Element column with mentioned years
df2 = df.groupby("Element")["Y2014","Y2015","Y2016","Y2017"].sum().reset_index()
print(max(df2[df2["Element"] == "Import Quantity"])) # printing the max value for year

Y2017

<ipython-input-75-78f20da2c0d3>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2 = df.groupby("Element")["Y2014","Y2015","Y2016","Y2017"].sum().reset_index()

# Question 16.what is the total number of the sum of production in 2014?

In [78]:
# performing groupby operation on element column and summ agg on Y2014
df3 = df.groupby("Element")["Y2014"].sum().reset_index()
print(df3[df3["Element"] == "Production"])

       Element       Y2014
11  Production  1931287.75

# Question 17. which of these elements has he highest  sum in 2018?

In [82]:
df4 = df.groupby("Element")["Y2018"].sum().reset_index()
print(max(df4.Y2018))
# by  observing the created groupby df and cmparing the mentioned elements the Domestic supply quantitty has highest sum

2161192.1

# Question 18. which of these elements had the 3rd lowest sum in 2018?

In [83]:
df5=df.groupby("Element")["Y2018"].sum().reset_index()

In [96]:
df5.sort_values(by = ['Y2018'])
# by seeing the table the third lowest is protein supply quantity

                                   Element       Y2018
17                     Tourist consumption       90.00
2       Fat supply quantity (g/capita/day)    10258.69
12  Protein supply quantity (g/capita/day)    11833.56
15                         Stock Variation    20577.91
14                                    Seed    25263.14
13                               Residuals    34864.00
6      Food supply quantity (kg/capita/yr)    49056.85
9                    Other uses (non-food)    91300.97
8                                   Losses   163902.00
1                          Export Quantity   181594.80
3                                     Feed   233489.68
7                          Import Quantity   287997.09
10                              Processing   308429.00
5            Food supply (kcal/capita/day)   455261.00
16           Total Population - Both sexes  1140605.00
4                                     Food  1303841.28
11                              Production  2075072.89
0                 Domestic supply quantity  2161192.10

# Question 19.What is the total import quantity in algeria in 2018?

In [108]:
df1 = df[df["Element"] =="Import Quantity"] # filtering the dataset only with element Import Quantity
df2 = df1.groupby("Area")["Y2018"].sum().reset_index()# applying group by
print(df2[df2["Area"] == "Algeria"])

      Area     Y2018
0  Algeria  36238.29

# Question 20. What is the total number if uniques countriesin the dataset?

In [109]:
df.Area.unique().shape[0] # unique countries

49